.subtitle {
    text-align: center;
    margin-bottom: 9px;
    padding-inline: 10px;
    border: 3px solid darkgoldenrod;
    background-color: goldenrod;
}

.column {
    width: calc(33.33% - 6px);
    box-sizing: border-box;
    margin-right: 9px;
    padding-inline: 10px;
    float: left;
    border: 3px solid;
}

.column:last-child {
    margin-right: 0;
}

#github {
    border-color: #1C2128;
    background-color: #444C56;
    color: #daeafa;
}

#modrinth {
    border-color: forestgreen;
    background-color: mediumseagreen;
}

#bluesky {
    border-color: royalblue;
    background-color: cornflowerblue;
}
